<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>welcome</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>

    <ion-card-header>
      <ion-card-title>Bienvenido a RegistrApp</ion-card-title>
      <ion-card-subtitle>Registra tu asistencia fácilmente escaneando el código QR mostrado en clase!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="container-btns">
        <ion-button fill="solid" shape="round" class="login-btn" color="primary" (click)="goLogin()">Comenzar</ion-button>
      </div>

      <p class="help-text">Haz clic en el botón para comenzar</p>
    </ion-card-content>
  </ion-card>  
  
  <div class="version-text" style="text-align: center; margin-top: 190px;">
    <small>Versión 1.0.0</small>
  </div>

</ion-content>
