<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title> -->
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="welcome" style="color: white;"></ion-back-button>
  </ion-buttons>
  <p style="text-align: center; color: aliceblue; font-size: 20px; font-weight: 900;">RegistrApp</p>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header1.png"></ion-img>
    <ion-card-content>
      <div class="container-form">
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" name="user" placeholder="Usuario" [(ngModel)]="userName" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input type="{{isPasswordShow ? 'text' : 'password' }}" name="password" placeholder="Contraseña"[(ngModel)]="passwordUser" required ></ion-input>
          <ion-button (click)="showPassword()" expand="block" fill="clear" shape="round">
            <ion-icon name="{{ isPasswordShow ? 'eye-outline' : 'eye-off-outline' }}"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <div class="passwordforgot">
        <ion-button fill="clear" class="ion-no-padding" (click)="goForgot()">
          ¿Olvidaste tu contraseña?
        </ion-button>
      </div>
      <div class="login-btn-container">
        <ion-button fill="solid" shape="round" class="login-btn" (click)="login()" >Iniciar Sesión</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  
</ion-content>
