ion-card {
  background-color:transparent !important;
  box-shadow: none !important;
}

ion-header {
  position: absolute;
}

ion-toolbar {
  --background: transparent;
  opacity: 0;
}

ion-content {
  --ion-background-color: #E1EAF9;
}

.container-form{
  margin-top: 15px;
}

ion-item ion-input {
  color: #647B9D;
}

.passwordforgot{
  text-align: right;
  margin-top: 10px;
}

.passwordforgot ion-button {
  --color: #647B9D;
  font-size: 12px;
}

.login-btn-container {
  text-align: center;
  padding-top: 50px;
}

.login-btn-container .login-btn {
  --ion-color-primary: #215AB7;
  color: #F4F6FA;
}

ion-item {
  color: #647B9D;
  --border-color: #D4D7DB;
  --padding-start: 0;
  --inner-padding-end: 0;
    font-size: 14px;
    ion-input {
      color: #647B9D;
    }

    ion-icon {
      font-size: 20px;
    }

    ion-input:hover {
      color: #1248A0;
    }
}