<ion-header class="ion-no-border m-top: [10px]" style="background-color: #E1EAF9;">
  <ion-toolbar>
    <ion-label>
      <h2>RegistrApp</h2>
      <p>Bienvenido, {{ nombreUsuario }}!</p>
    </ion-label>
    <ion-avatar aria-hidden="true" slot="end">
      <img alt="User Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    
  </ion-toolbar>
  <ion-searchbar color="secondary" placeholder="Buscar"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of cards">
        <ion-card class="card-button rounded-sm p-5 " (click)="goTo(card.route)">
          <ion-card-content>
            <div class="card-icon rounded-xl">
              <ion-icon slot="start" [name]="card.icon"></ion-icon>
            </div>
            <div class="card-title">{{ card.title }}</div>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
